<%= form_with(model: [ order, order.order_details.build], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-2">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field col-2">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field col-2">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field col-2">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>
  <br/>
  <br/>
  <div class="actions btn" style="margin:auto;">
    <%= form.submit %>
  </div>
<% end %>
