<% @order_details_state = @order_detail.blank? %>
<% puts @order_detail%>
<% puts "tttttttttttttttttttt"%>
<% puts @order_details_state %>
<% if @order_details_state == false %>
  <% puts "in if" %>
  <p id="notice"><%= notice %></p>

  <h1 class="text-center login_h2 m-5" >Order Details</h1>
  <style>
  table, th, td {
    border: 1px solid black;
  }
  </style>

  <table style=" border: 1px solid black;" class="table table-bordered table-secondary">
    <thead>
      <tr style="border: 1px solid black;"> 
        <th>Person</th>
        <th>Item</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>

      <% @ord = @order_detail.first.order_id %>
      <% @invited = OrderFriend.where(:order_id => @ord).count %> 
      <% if false %>
        <% @group = OrderGroup.find(order_id=@ord) %>
        <% @result = @group.blank?%> 
        <% puts @result%>
        <% if @result == false %>
        <% Group.where(:id=>1) %>
      <% end %>
      <% end %>
      <% @user = Order.find(id = @ord).User_id %>      
      <% @joined = Friendship.where(:User_id => @user , :status => "joined").count %>
      <p><%= link_to (@joined).to_s+'friends joined,click here to view',joined_order_path(@ord) , {:style=>'margin-top:50px;margin-right:10px;',method: "post" ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></p>
      <% @invited = OrderFriend.where(:order_id => @ord).count %>   
      <%= link_to (@invited).to_s+' friends invited click to view',invited_order_path(@ord),{:style=>'margin-top:50px;margin-right:10px;',method: "post" ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>

      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
        <div id="#modal2-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
    
            <br/>
            <br/>
      <% @order_detail.each do |order_detail| %>
      <% @user = order_detail.user_id %>
        <% @user_name = User.find(uid=@user) %>
        <tr style="border: 1px solid black;">
        # <!-- do not forgrt to use session to put user_id -->
        <% puts current_user %> 
          <td><%= @user_name.name %></td>
          <td><%= order_detail.item %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.comment %></td>
          <td><%= link_to 'Show', order_order_detail_path(order_detail.order_id,order_detail) %></td>
          <% if false %>
          # <td><%= link_to 'Edit', edit_order_order_detail_path(order_detail.order_id,order_detail) %></td>
        <% end %>
          <td><%= link_to 'Destroy', order_order_detail_path(order_detail.order_id,order_detail), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
          <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Order Detail', new_order_order_detail_path, :class => "btn btn-primary justify-content-end" %>
<%else %>
<% puts "in else" %>
<h3 style="text-align:center;margin:200px auto;color :red;">THERE IS NO ORDER DETAILS YET :) </h3>
<p style= "text-align:center;"><%= link_to 'create order details',new_order_order_detail_path(@order),class: 'btn btn-primary '%></p>

<% end %>