<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="width:40%">
    <%= form.label :name %><br/>
    <%= form.text_field :name ,class: "form-control" , placeholder: "Enter Name Of Group"%>
  </div>

  <div class="form-group" style="width:40%">
    <%= form.label :User_id %><br/>
    <%= form.text_field :User_id,class: "form-control" , placeholder: "Enter Users"%>
  </div>

  <div class="actions">
    <%= form.submit "Add Group", class: "btn btn-primary" %>
  </div>
<% end %>
