<br/>
<!--Add New Group -->
<section >
<%= render 'form' , group: @new_group%>
</section>
<br/>
<div class="row" style="width: 100%;">
      <section  class="col-4" style="margin-left: 20px">
        <div style="border:2px solid lightgray;border-radius:5px; padding:10px;" >
            <h2 class="text-center text-info">My Groups</h2>
            <!-- List All Groups !!! -->
            <table class="table">
              <tbody style="padding:20px">
              <tr><%=render @groups%></tr>
              </tbody>
            </table>
        </div>
      </section>
      
      <section  class="offset-1 col-6" style="border:2px solid lightgray;border-radius: 5px;">
        <div>
          <h2 class="text-center text-info">Friends Group</h2>
          <!-- Add friend to group -->
          <!--
        <div style="text-align:center;">
        <%= form_with(model: @new_friend, method: 'PUT') do |f| %>
          <%= f.email_field :virtual_attribute , class:'form-control',placeholder: "Add friend by email to the geoup"%>
          <br/>
          <%= f.submit "Add" ,class: "btn btn-primary"%>
        <% end %>
        -->
         <!-- <%= render 'friendships/form', friendship: @friendship %> -->
          </div>
          
        <!-- Group Friends-->
        </div>
      </section>
      
</div>