<p id="notice"><%= notice %></p>
<%= link_to 'New Group', new_group_path ,:class => "btn btn-primary m-3"%>
<br/>

<div class="row" style="width: 100%;">
      <section  class="col-4" style="margin-left: 20px">
        <div style="border:2px solid lightgray;border-radius:5px; padding:10px;" >
            <h2 class="text-center text-info">Groups</h2>
            <!-- Groups !!! -->
            <table class="table">
              <tbody style="padding:20px">
              <% @groups.each do |group| %>
              <tr>
              <th><%= link_to group.name, group%></th>   
              <td><i class="fas fa-user-plus"></i></td>
        <%# <td><%= link_to 'Edit', edit_group_path(group) %></td> 
        <th><%= link_to '', group, method: :delete, data: { confirm: 'Are you sure?' },class: "fas fa-times text text-danger"%></th> 
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
      </section>
      <section  class="offset-1 col-6" style="border:2px solid lightgray;border-radius: 5px;">
        <div>
        <h2 class="text-center text-info">group</h2>
        <div>
          <%= render 'friendships/form', friendship: @friendship %>
          </div>
          
        <!-- Group Friends-->
        <div style="display: inline-block; margin: 10px;">
            <%= image_tag("user.jpg", {:style => "width:80px;height:80px;border-radius:50%"}) %>
              <figcaption style="text-align:center;">friend1</figcaption>
              <figcaption style="text-align:center;">
                <%# <%= link_to 'remove', latest_orders, method: :delete, data: { confirm: 'Are you sure?' }  %>
              </figcaption>
        </div>
        </div>
      </section>
</div>