
<h1 class="text-center login_h2 m-5">Groups Show</h1>

<table class="table">
  <thead>
    <tr>
      <th class="text-info">Name</th>
      <th class="text-info">User</th>
      <th class="text-info">Friends in the group </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @group.name %></td>
        <td>
          <% @frinds_group.each do |friend|%>
          <%= @frind.User_id %>
          <%= @frinds_group%>
  <%end%>
        </td>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_group_path(@group),:class => "btn btn-primary"  %> 
<%= link_to 'Back', groups_path ,:class => "btn btn-info" %>