

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h3>Forgot your password?</h3>
  <%= render "devise/shared/error_messages", resource: resource %>
  <center>
  <div class="form-group"">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "user@example.com" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me to reset password" ,class: "btn btn-info"%>
  </div>
  </center>
<% end %>

<center>
  <%= render "devise/shared/links" %>
</center>
