
<h1 class="text-center login_h2 m-5">Welcome <%= current_user.name %></h1>
    <div class="row" style="width: 100%;">
      <section  class="col-4" style="margin-left: 20px">
        <div style="border:2px solid lightgray;border-radius:5px; padding:10px;" >
            <h2 class="text-center text-info">Latest Orders</h2>
            <!-- Latest Orders !!! -->
            <% @latest_orders.each do |order| %>
            <h6><%= order.meal %> on <%= order.created_at.to_date%> from <%= order.resturant%></h6>
            <%end%>
        </div>
      </section>
      <section  class="offset-1 col-6" style="border:2px solid lightgray;border-radius: 5px;">
        <h2 class="text-center text-info">Friends activity</h2>
        <!-- Friends activity -->
        <%if @orders != nil%>
          <% @orders.each do |order|%>
          <% @friends_name = User.find_by_id(order.User_id)%>
            <h6>
              <%= @friends_name.name%> has created an order for 
                <% @friends_order = Order.select("meal","created_at","resturant").where("User_id=?",@friends_name.id).last%>
                  <%if @friends_order != nil%>
                  <%= @friends_order.meal%> from 
                  <%= @friends_order.resturant%>
                  <%end%>
            </h6>
          <%end%>
          <%end%>
      </section>
    </div>
