<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <%= current_user.name %>
</p>
<p>
  <strong>Friend</strong>
  <%= @friendship.follower.name %>
</p>

<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
