<div class="row">


<div class="col-md-6"> 

<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= form.label :meal,'Order for' %>
 <select id="order_meal" name="order[meal]" class="form-control"> 
 <option value='breakfast'>Breakfast</option>
 <option value='lunch'>Lunch</option>
 </select>
  </div>
  <div class="form-group">
    <%= form.label :resturant, "From" %>
    <%= form.text_field :resturant, class: 'form-control',placeholder: "Add a restaurant name" %>
  </div>

 <div class="form-group">
    <%# <%= form.label :status, "status" %> 
    <%= form.hidden_field :status, class: 'form-control',value:"waiting" %>
  </div>


  <div class="form-group">
    <%= form.label :myorderfriends, "friends" %>
    <%= select_tag  :friends , options_for_select(current_user.followers.map { |s| [s.name, s.id] }), multiple: true ,class:'form-control'%>


  </div>
     <div class="form-group">
    <%= form.label :image, "Menu image" %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit html: {class: "form-control"}, class:'btn btn-primary' %>
  </div>
<% end %>
</div>
<div class="col-md-6"> 
  <div class="block">

  </div>
</div>
</div>