<p id="notice"><%= notice %></p>


<div class="mx-auto"><h1>Orders</h1></div>
<div >
<%= link_to 'Start new Order', new_order_path, :class => "btn btn-primary justify-content-end" %>
</div>
<br>

<table class="table table-bordered table-secondary">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Resturant</th>
      <th scope="col">Invited</th>
      <th scope="col">Joined</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.meal %></td>
        <td><%= order.resturant %></td>
        <td><%= order.resturant %></td>
        <td><%= order.resturant %></td>
        <td><%= order.status %></td>
        <td>  <% if order.status == "waiting" %>
          <%= link_to 'View', order %>
          <%# <%= link_to 'Finish', edit_order_path(order) %> 
          <%= link_to 'Finish', method: chngstatus(order.id) %>
          <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% elsif order.status == "finished" %>
                    <%= link_to 'View', order%>
                    <% end %>

        </td>
        
      </tr>
    <% end %>

  </tbody>

</table>


<br>
<%= will_paginate @orders,list_classes: %w(pagination justify-content-center) %>

