<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @order.meal %>
</p>

<p>
  <strong>Resturant:</strong>
  <%= @order.resturant %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.User_id %>
</p>
<p>
  <strong>Image </strong>
   <% if @order.image.attached? %>
        <img src="<%=(url_for(@order.image))  %>" width="100" height="100"/>
    <% end %>
</p>
puts "44444444444"
<p><%=@order%></p>
<%= link_to 'create order details',new_order_order_detail_path(@order)%>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>