<!DOCTYPE html>
<html>
  <head>
    <title>Yala-Notlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'orders'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "order" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash ='';</script>
  </head>
  <body>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Yala-Notlob", root_path, class: "navbar-brand" %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Group", groups_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Orders", orders_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Friends", friendships_path, class: "nav-link" %></li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item ml-auto"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link btn btn-danger text-light" %></li>
                <li class="nav-item ml-2">
                <%= image_tag("user.jpg", {:style => "width:50px;height:50px;border-radius:50%"}) %>
                </li>      
                <li class="nav-item ml-2 btn text-light "> Welcome: <strong class="text-success m-2"><%= current_user.name %></strong></li>
              <% else %>
                <li class="nav-item ml-auto"><%= link_to "Sign up", signup_path, class: "nav-link btn btn-primary text-light mr-1" %></li>
                <li class="nav-item ml-auto"><%= link_to "Sign in", signin_path, class: "nav-link btn btn-success text-light" %></li>
              <% end %>
            </ul>
        </div>
      </nav>

      <!--Flash Messages -->
   <div class="container">
     <% flash.each do |name, message| %>
        <%= content_tag(:div,message, class: "alert alert-info #{name}") %>
      <% end %>
      <!-- Page Content -->
      <%= yield %>
     
   </div>
    
      
      <!-- Footer -->
      <footer class="small text-muted">
        <div class="container">
          <hr>
          <center>
            <p>© 2020 ITI Open Source Mansoura Branch</p>
          </center>
        </div>
      </footer>
  </body>
</html>
