<!DOCTYPE html>
<html>
  <head>
    <title>Yala-Notlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'orders'%>
    <%= stylesheet_link_tag 'friendships'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "order" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash ='';</script>
    <%= favicon_link_tag asset_path('coffee.png'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.min.css" integrity="sha256-7rW9HUDgE3t3AoAxno85UTVNfH0G6fWadUG0n/LWX1g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.min.css.map" integrity="undefined" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css.map" integrity="undefined" crossorigin="anonymous" />
    
  </head>
  <body>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Yala-Notlob", root_path, class: "navbar-brand" %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Group", groups_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Orders", orders_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Friends", friendships_path, class: "nav-link" %></li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item ml-auto"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link btn btn-danger text-light" %></li>
                <li class="nav-item ml-auto"><%= link_to "Edit Profile", edit_path, class: "nav-link btn btn-info text-light mr-1 ml-1" %></li>
                <li class="nav-item ml-2">
                    <%if(current_user.image.present?)%>
                      <%=image_tag(current_user.image, size:"50x50",class: "rounded-circle mr-1")%>
                    <%else%>
                      <%= image_tag("user.jpg", {:style => "width:50px;height:50px;border-radius:50%"}) %>
                    <%end%>
                </li>      
                <li class="nav-item ml-2 btn text-light "> Welcome: <strong class="text-success m-2"><%= current_user.name %></strong></li>
              <% else %>
                <li class="nav-item ml-auto"><%= link_to "Sign up", signup_path, class: "nav-link btn btn-primary text-light mr-1" %></li>
                <li class="nav-item ml-auto"><%= link_to "Sign in", signin_path, class: "nav-link btn btn-success text-light" %></li>
              <% end %>
            </ul>
        </div>
      </nav>

      <!--Flash Messages -->
   <div class="container">
     <% flash.each do |name, message| %>
        <%= content_tag(:div,message, class: "alert alert-info #{name}") %>
      <% end %>
      <!-- Page Content -->
      <%= yield %>
     
   </div>
    
      
      <!-- Footer -->
      <footer class="small text-muted">
        <div class="container">
          <hr>
          <center>
            <p>© 2020 ITI Open Source Mansoura Branch</p>
          </center>
        </div>
      </footer>
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>     
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/selectize.js"></scricpt>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/selectize.min.js"></scricpt>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></scricpt>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></scricpt>
      
  </body>
</html>
